<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.mybatis.mapper.ParameterMapper">

<!--    User checkLoginByParam(@Param("username") String username,@Param("password") String password);-->
    <select id="checkLoginByParam" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

<!--    int addUser(User user);-->
    <insert id="addUser">
        insert into t_user values(0,#{username},#{password},#{age},#{sex},#{email})
    </insert>

<!--     User checkLoginByMap(Map<String,Object> map);-->
    <select id="checkLoginByMap" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

<!--     User checkLogin(String username,String password);-->
    <select id="checkLogin" resultType="User">
        select * from t_user where username = #{arg0} and password = #{arg1}
    </select>

<!--    User getUserByUsername(String username);-->
    <select id="getUserByUsername" resultType="User">
       <!-- select * from t_user where username = #{username}  -->
        select * from t_user where username = '${username}'
    </select>


<!--    List<User> getUsers();-->
    <select id="getUsers" resultType="User">
        select * from t_user
    </select>
</mapper>