<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    读取jdbc.properties配置文件-->
    <properties resource="jdbc.properties"/>
    <!--    设置类型别名-->
    <typeAliases>
        <!--        <typeAlias type="com.stan.mybatis.pojo.User"/>-->
        <!--        设置包下所有类的别名，默认为类名-->
        <package name="com.stan.mybatis.pojo"/>
    </typeAliases>


    <!--设置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.dev.driver}"/>
                <property name="url" value="${jdbc.dev.url}"/>
                <property name="username" value="${jdbc.dev.username}"/>
                <property name="password" value="${jdbc.dev.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <!--        <mapper resource="mappers/UserMapper.xml"/>-->
        <package name="com.stan.mybatis.mapper"/>
    </mappers>
</configuration>